/*////////////////////////////////////////////////////// Responsive CSS Structure //////////////////////////////////////////////////////*/
@media (min-width: 1200px) and (max-width: 1920px){
}

@media (min-width: 1400px) and (max-width: 1499px){
    /* about pg */
    .about-banner::before { width: 213px; height: 253px; }
    /* about pg */

    /* partner pg */
    .partner-f-review .partner-hand { transform: translate(70px , 0); -webkit-transform: translate(70px , 0); -moz-transform: translate(70px , 0); -ms-transform: translate(70px , 0); -o-transform: translate(70px , 0); }
    /* partner pg */
}

@media (min-width: 1400px) {
.container { max-width: 1330px; }
.footer .container { max-width: 1175px; }
}

@media (min-width: 1300px) and (max-width: 1399px){
/* home page */
.banner-section .banner-description { padding: 50px 0; }
.banner-section .matchday-title img { width: 900px; }
.banner-section .block-title { font-size: 32px; }
/* .welcome-matchday-section { padding: 125px 0 75px; } */
.welcome-matchday-section { padding: 125px 0 0; }
/* .welcome-matchday-section .welcome-matchday-image { margin-top: 50px; } */
.best-experience-section { padding: 125px 0 100px; }
.best-experience-section .section-title { margin-bottom: 50px; }
.holistic-football-section { padding: 150px 0 75px; }
.holistic-football-section .holistic-custom-shape.shape1 { width: 400px; }
.holistic-football-section .holistic-custom-shape.shape2 { width: 525px; }
.holistic-video-block { height: 550px; }
.holistic-football-section .holistic-football-buttons { margin-top: 50px; }
.influential-ambassadors-section { padding: 175px 0 75px; }
.ultimate-specifically-section { padding: 125px 0; }
.unlock-football-section { padding: 125px 0 185px; }
.unlock-football-section .unlock-football-image { margin-bottom: 75px; }
.let-game-begin-section .section-title { margin-bottom: 70px; }
.let-game-begin-section { padding: 85px 0; }
.let-game-begin-section .let-game-begin-description { max-width: 1000px; margin-left: auto; margin-right: auto; }
/* home page */

/* about pg */
.about-banner::before { width: 213px; height: 253px; }
.globe-wrp .globe-main {padding: 80px 92px;}
.globe-left { margin: 0 -10px 0 23px; }
.experience-wrp { padding: 120px 0; }
.experience-title .experience-image { padding: 44px 0; }
.experience-bottom { margin: 0 25px; }
/* about pg */

/* partner pg */
.partner-f-review .partner-hand { transform: translate(80px , 0); -webkit-transform: translate(80px , 0); -moz-transform: translate(80px , 0); -ms-transform: translate(80px , 0); -o-transform: translate(80px , 0); }
.partner-banner-image::before { width: 503px; height: 342px; }
.proud-partner-wrp { padding: 130px 0;}
.p-review-right { padding: 56px 91px 65px 268px; margin: -129px -112px 0px -334px; }
.partner-f-left { margin: 0 0px 0 30px; }
.partner-f-right { padding: 58px 176px 59px 80px; margin: -135px -201px 0 10px; }
.p-foundation-wrp { padding: 130px 0 115px 0; }
/* partner pg */
}

@media (min-width: 1200px) and (max-width: 1299px){
/* home page */
.banner-section .banner-description { padding: 50px 0; }
.banner-section .matchday-title img { width: 900px; }
.banner-section .block-title { font-size: 32px; }
/* .welcome-matchday-section { padding: 125px 0 75px; } */
.welcome-matchday-section { padding: 125px 0 0; }
/* .welcome-matchday-section .welcome-matchday-image { margin-top: 50px; } */
.best-experience-section { padding: 125px 0 100px; }
.best-experience-section .section-title { margin-bottom: 50px; }
.holistic-football-section { padding: 150px 0 75px; }
.holistic-football-section .holistic-custom-shape.shape1 { width: 400px; }
.holistic-football-section .holistic-custom-shape.shape2 { width: 525px; }
.holistic-video-block { height: 550px; }
.holistic-football-section .holistic-football-buttons { margin-top: 50px; }
.influential-ambassadors-section { padding: 175px 0 75px; }
.ultimate-specifically-section { padding: 125px 0; }
.unlock-football-section { padding: 125px 0 185px; }
.unlock-football-section .unlock-football-image { margin-bottom: 75px; }
.let-game-begin-section .section-title { margin-bottom: 70px; }
.let-game-begin-section { padding: 85px 0; }
.let-game-begin-section .let-game-begin-description { max-width: 1000px; margin-left: auto; margin-right: auto; }
/* home page */

/* about pg */
.about-banner::before { width: 213px; height: 253px; }
.globe-wrp .globe-main {padding: 80px 92px;}
.globe-left { margin: 0 -10px 0 23px; }
.experience-wrp { padding: 120px 0; }
.experience-title .experience-image { padding: 44px 0; }
.experience-bottom { margin: 0 25px; }
/* about pg */

/* partner pg */
.partner-f-review .partner-hand { transform: translate(80px , 0); -webkit-transform: translate(80px , 0); -moz-transform: translate(80px , 0); -ms-transform: translate(80px , 0); -o-transform: translate(80px , 0); }
.partner-banner-image::before { width: 483px; height: 322px; }
.proud-partner-wrp { padding: 130px 0;}
.p-review-right { padding: 56px 61px 65px 228px; margin: -129px -40px 0px -314px; }
.partner-f-right::before { left: -37px; width: 122px; height: 61px; }
.p-review-right::before { width: 122px; height: 61px; }
.partner-f-left { margin: 0 0px 0 30px; }
.partner-f-right { padding: 58px 176px 59px 80px; margin: -135px -201px 0 10px; }
.p-foundation-wrp { padding: 130px 0 115px 0; }
.main-title { font-size: 58px; line-height: 64px; }
.proud-partner-wrp::before { width: 138px; height: 268px; }
/* partner pg */
}

@media (min-width: 992px) and (max-width: 1199px){
.section-title { font-size: 42px; line-height: 48px; }

/* header */
.navbar { padding: 25px 0; }
.navbar-nav .nav-item { margin: 0 10px; }
.contact-lstwrp{padding: 30px 60px;}
/* header */

/* home page */
.banner-section .banner-main-image:before { height: 200px; }
.banner-section .banner-main-image:after { height: 250px; }
.banner-section .banner-description { padding: 35px 0; }
.banner-section .matchday-title img { width: 800px; }
.banner-section .block-title { font-size: 28px; }
/* .welcome-matchday-section { padding: 100px 0 50px; } */
.welcome-matchday-section { padding: 100px 0 0; }
/* .welcome-matchday-section .welcome-matchday-image { margin-top: 50px; } */
.best-experience-section { padding: 100px 0 75px; }
.best-experience-section .section-title { margin-bottom: 50px; }
.best-experience-block { padding: 30px; border-radius: 20px; -webkit-border-radius: 20px; -moz-border-radius: 20px; -ms-border-radius: 20px; -o-border-radius: 20px; }
.best-experience-block .experience-image { margin-top: 30px; }
.holistic-football-section { padding: 75px 0; }
.holistic-football-section .holistic-custom-shape.shape1 { width: 350px; }
.holistic-football-section .holistic-custom-shape.shape2 { width: 450px; }
.holistic-football-section .section-title { margin-bottom: 50px; }
.holistic-video-block { height: 450px; }
.holistic-video-block .video-play-icon { width: 60px; height: 60px; }
.holistic-football-section .holistic-football-buttons { margin-top: 50px; }
.influential-ambassadors-section { padding: 125px 0 50px; }
.ultimate-specifically-section { padding: 75px 0; }
.ultimate-specifically-section .ultimate-specifically-image { max-width: 800px; }
.ultimate-specifically-section .ultimate-specifically-image:before { width: 150px; height: 115px; }
.ultimate-specifically-section .ultimate-specifically-image:after { width: 100px; height: 125px; }
.ultimate-specifically-section .ultimate-specifically-buttons { margin-top: 35px; }
.partnership-section { padding: 70px 0; }
.unlock-football-section { padding: 100px 0 150px; }
.unlock-football-section .unlock-football-image { margin-bottom: 50px; }
.let-game-begin-section .section-title { margin-bottom: 70px; }
.let-game-begin-section { padding: 70px 0; }
.let-game-begin-section .let-game-begin-description { max-width: 800px; margin-left: auto; margin-right: auto; }
/* home page */

/* footer */
/* .f-logo-detail-block { text-align: center; } */
.f-logo { margin-bottom: 20px; }
/* .f-logo-detail-block .f-detail { max-width: 100%; } */
.footer .f-bottom { padding: 20px 0; }
.footer .f-top .f-right > .row { margin: 0 -20px; }
.footer .f-top .f-right > .row > * { padding: 0 20px; }
/* footer */

/* about pg */
.about-banner::before { width: 213px; height: 253px; }
.globe-wrp .globe-main { padding: 60px 62px; }
.globe-left { margin: 0 -10px 0 0; }
.experience-wrp { padding: 100px 0; }
.experience-title .experience-image { padding: 24px 0 44px 0; }
.experience-bottom { margin: 0; }
.globe-left .block-title { font-size: 30px; line-height: 38px; }
.main-title { font-size: 50px; line-height: 58px; }
.about-banner { padding: 141px 0 160px; }
.experience-block { padding: 20px; }
/* about pg */

/* partner pg */
.partner-f-review .partner-hand { transform: translate(30px , 0); -webkit-transform: translate(30px , 0); -moz-transform: translate(30px , 0); -ms-transform: translate(30px , 0); -o-transform: translate(30px , 0); }
.partner-banner-image::before { width: 443px; height: 282px; bottom: 0; left: -210px; }
.proud-partner-wrp { padding: 70px 0;}
.p-review-right { padding: 55px 61px 55px 228px; margin: -129px -40px 0px -314px; }
.partner-f-right::before { left: -17px; width: 102px; height: 51px; }
.p-review-right::before { width: 102px; height: 51px; top: -28px; left: -47px; }
.partner-f-left { margin: 0 0px 0 88px; }
.partner-f-right { padding: 55px 176px 55px 60px; margin: -165px -301px 0 0px; }
.p-foundation-wrp { padding: 70px 0 65px 0; }
.proud-partner-wrp::before { width: 98px; height: 188px; left: -30px; }
.partner-title .image { padding: 20px 0 176px 0; }
.p-review-right .small-block-title { line-height: 32px; padding: 0; font-size: 22px; }
.partner-f-right::after { right: 189px; }
.partner-banner-image img { height: 827px; }
/* partner pg */

/* typography */
h1 { font-size: 60px; line-height: 64px; }
.typography-section { padding: 227px 0 94px 0;}
h2 { font-size: 44px; font-weight: 900; line-height: 50px; }
h3 { font-size: 30px; line-height: 40px; }
/* typography */
}

@media (min-width: 768px) and (max-width: 991px){
.section-title { font-size: 35px; line-height: 42px; }

/* header */
.navbar-nav .nav-item { margin: 0 10px; }
/* header */

/* home page */
.banner-section .banner-main-image:before { height: 175px; }
.banner-section .banner-main-image:after { height: 225px; }
.banner-section .banner-description { padding: 35px 0; }
.banner-section .matchday-title { margin-bottom: 20px; }
.banner-section .matchday-title img { width: 650px; }
.banner-section .block-title { font-size: 25px; }
/* .welcome-matchday-section { padding: 75px 0 50px; } */
.welcome-matchday-section { padding: 75px 0 0; }
/* .welcome-matchday-section .welcome-matchday-image { margin-top: 35px; } */
.best-experience-section { padding: 75px 0 50px; }
.best-experience-section .section-title { margin-bottom: 35px; }
.best-experience-block { padding: 20px; border-radius: 15px; -webkit-border-radius: 15px; -moz-border-radius: 15px; -ms-border-radius: 15px; -o-border-radius: 15px; }
.best-experience-block .experience-image { margin-top: 20px; }
.best-experience-block .experience-icon { width: 48px; height: 48px; margin-bottom: 15px; }
.holistic-football-section { padding: 50px 0; }
.holistic-football-section .holistic-custom-shape.shape1 { width: 350px; }
.holistic-football-section .holistic-custom-shape.shape2 { width: 450px; }
.holistic-football-section .section-title { margin-bottom: 35px; }
.holistic-video-block { height: 400px; }
.holistic-video-block .video-play-icon { width: 60px; height: 60px; }
.holistic-football-section .holistic-football-buttons { margin-top: 35px; }
.influential-ambassadors-section { padding: 75px 0 50px; }
.influential-ambassadors-section .influential-ambassadors-content { margin-bottom: 35px; }
.influential-ambassadors-item { width: 50%; }
.ultimate-specifically-section { padding: 50px 0; }
.ultimate-specifically-section .ultimate-specifically-image { max-width: 650px; }
.ultimate-specifically-section .ultimate-specifically-image:before { width: 115px; height: 85px; }
.ultimate-specifically-section .ultimate-specifically-image:after { width: 75px; height: 85px; }
.ultimate-specifically-section .ultimate-specifically-buttons { margin-top: 35px; }
.partnership-section { padding: 50px 0; }
.partnership-section .section-title { margin-bottom: 35px; }
.partnership-section .partnership-logos-list { margin-bottom: 20px; }
.unlock-football-section { padding: 75px 0 100px; }
.unlock-football-section:before { width: 225px; height: 150px; }
.unlock-football-section:after { width: 275px; height: 150px; }
.unlock-football-section .unlock-football-image { margin-bottom: 50px; }
.let-game-begin-section .section-title { margin-bottom: 70px; }
.let-game-begin-section { padding: 50px 0; }
.let-game-begin-section .let-game-begin-description { max-width: 600px; margin-left: auto; margin-right: auto; }
.let-game-begin-list .let-game-begin-block:nth-child(1) .let-game-begin-image { width: 175px; }
.let-game-begin-list .let-game-begin-block:nth-child(2) .let-game-begin-image { width: 225px; }
.let-game-begin-list .let-game-begin-block:nth-child(3) .let-game-begin-image { width: 125px; }
/* home page */

/* footer */
.footer .f-top .f-content { flex-direction: column; }
.f-logo-detail-block { text-align: center; }
.f-logo { margin-bottom: 20px; }
.f-logo-detail-block .f-detail { max-width: 100%; }
.footer .f-top .f-right > .row { margin: 0 -15px; }
.footer .f-top .f-right > .row > * { padding: 0 15px; }
.footer .f-bottom { padding: 20px 0; }
/* footer */

/* about pg */
.about-banner::before { width: 213px; height: 253px; }
.globe-wrp .globe-main { padding: 50px 62px; }
.globe-left { margin: 50px 0px 0 0;text-align: left; }
.experience-wrp { padding: 75px 0 40px 0; }
.experience-title .experience-image { padding: 4px 0 34px 0; }
.experience-bottom { margin: 0; }
.globe-left .block-title { font-size: 30px; line-height: 38px; }
.main-title { font-size: 44px; line-height: 54px; }
.about-banner { padding: 141px 0 120px; }
.experience-block { padding: 20px; }
.experience-bottom .row { align-items: unset !important; justify-content: center;}
.experience-block {height: calc(100% - 24px);margin-bottom: 24px;}
.globe-right::after { width: 135px; height: 101px; }
/* about pg */

/* partner pg */
.partner-f-review .partner-hand { transform: translate(30px , 0); -webkit-transform: translate(30px , 0); -moz-transform: translate(30px , 0); -ms-transform: translate(30px , 0); -o-transform: translate(30px , 0); }
.partner-banner-image::before { width: 353px; height: 222px; bottom: 0; left: -140px; }
.proud-partner-wrp { padding: 70px 0;}
.p-review-right { padding: 55px 40px 55px 40px; margin: 50px 20px 0 20px; }
.partner-f-right::before { left: -37px; width: 102px; height: 51px; }
.p-review-right::before { width: 102px; height: 51px; top: -28px; left: -37px; }
.partner-f-left { margin: 0 20px; }
.partner-f-right { padding: 55px 40px 55px 40px; margin: 50px 20px 0 20px; }
.p-foundation-wrp { padding: 70px 0 65px 0; }
.proud-partner-wrp::before { width: 68px; height: 128px; left: -30px; }
.partner-title .image { padding: 0px 0 30px 0; }
.p-review-right .small-block-title { line-height: 32px; padding: 0; font-size: 22px; }
.partner-f-right::after { right: -30px; }
.partner-banner-image img { height: 727px; }
.partner-review-main .p-review-left { margin: 0 20px; }
.partner-f-review .row {flex-direction: column-reverse;}
.p-review-right::after {right: -30px;}
.p-foundation-title .image { padding: 0 0 28px 0; }
.partner-f-review .partner-hand { width: 200px; top: -80px; }
/* partner pg */

/* typography */
h1 { font-size: 46px; line-height: 50px; }
.typography-section { padding: 217px 0 84px 0; }
h2 { font-size: 34px; font-weight: 900; line-height: 46px; }
.typography-block .text-line { padding-bottom: 18px; }
.btn-secondary,
.btn-primary {padding: 10px 57px;}
h3 { font-size: 30px; line-height: 40px; }
.typography-section .accordion-button { padding: 20px 20px 20px 20px; }
.typography-section .accordion-body {padding: 20px;}
/* typography */


.contact-lstwrp{padding: 30px;}
}

@media (min-width: 768px) {
}

@media (max-width: 767px) {
.section-title { font-size: 30px; line-height: 35px; margin-bottom: 25px; }
.block-title { font-size: 25px; line-height: 33px; }
.small-block-title { font-size: 22px; line-height: 30px; }
p { margin-bottom: 15px; }
.common-app-buttons {
    text-align: left;
    margin-left: 10px;
}

.common-app-buttons a {
    margin-right: 0;
}

.common-app-buttons img {
    width: 160px !important;
    height: 50px !important;
}

/* header */
.header .container { max-width: 100%; }

html.nav-menu-open .header { background: #11111f; }
.navbar { padding: 30px 10px; }
.navbar-nav .nav-item { margin: 0 !important; padding: 0; }
.navbar .navbar-collapse { display: flex; flex-direction: column; align-items: flex-start; justify-content: space-between; position: fixed; right: -100%; bottom: 0; height: calc(100% - 99px); z-index: 999; width: 100%; overflow: auto; background: #11111f; padding: 10px 25px 55px; transition: 0.4s; -webkit-transition: 0.4s; -moz-transition: 0.4s; -ms-transition: 0.4s; -o-transition: 0.4s; }
.navbar .navbar-collapse.show { right:  0; }
.navbar-nav .nav-item .nav-link { padding: 12px 0 !important; border-radius: 0; -webkit-border-radius: 0; -moz-border-radius: 0; -ms-border-radius: 0; -o-border-radius: 0; }
.header .h-download-app-button { margin: 15px 0 0; width: 100%; }
.header .h-download-app-button .btn { width: 100%; }
/* header */

/* home page */
.banner-section .banner-main-image:before { height: 125px; }
.banner-section .banner-main-image:after { height: 255px; display: none; }
.banner-section .banner-main-image img { height: auto; }
.banner-section .banner-description { padding: 20px 0 40px; position: relative; left: auto; right: auto; bottom: auto; z-index: 9; background: #121220; }
.banner-section .banner-description:before { position: absolute; content: ""; left: 0; right: 0; bottom: 100%; z-index: -1; height: 100px; width: 100%;  background: linear-gradient(0deg, #11111f 41.94%, rgba(17, 17, 31, 0.00) 100%); }
.banner-section .matchday-title { margin-bottom: 20px; }
.banner-section .matchday-title img { width: 400px; }
.banner-section .block-title { font-size: 22px; line-height: 30px; }
/* .welcome-matchday-section { padding: 50px 0; } */
.welcome-matchday-section { padding: 50px 0 0; }
/* .welcome-matchday-section .welcome-matchday-image { margin-top: 30px; } */
.best-experience-section { padding: 55px 0; }
.best-experience-section .section-title { margin-bottom: 25px; }
.best-experience-block { padding: 25px 15px; border-radius: 15px; -webkit-border-radius: 15px; -moz-border-radius: 15px; -ms-border-radius: 15px; -o-border-radius: 15px; }
.best-experience-block .experience-image { margin-top: 25px; }
.best-experience-block .experience-icon { width: 32px; height: 32px; padding: 5px; margin-bottom: 15px; }
.best-experience-block .experience-icon img { width: 18px; }
.holistic-football-section { padding: 75px 0 95px; }
.holistic-football-section .holistic-custom-shape.shape1 { width: 130px; }
.holistic-football-section .holistic-custom-shape.shape2 { width: 274px; bottom: 20px; }
.holistic-football-section .section-title { margin-bottom: 25px; }
.holistic-video-block { height: 300px; }
.holistic-video-block .video-play-icon { width: 48px; height: 48px; font-size: 22px; line-height: 22px; }
.holistic-football-section .holistic-football-buttons { margin-top: 25px; }
.influential-ambassadors-section { padding: 55px 0; }
.influential-ambassadors-section:before { width: 82px; height: 90px; top: 25px; left: -35px; }
.influential-ambassadors-slider:before { width: 68px; height: 74px; right: -10px; bottom: 0; }
.influential-ambassadors-section .influential-ambassadors-content { margin-bottom: 20px; }
.ultimate-specifically-section { padding: 55px 0; }
.ultimate-specifically-section .ultimate-specifically-image { max-width: 450px; }
.ultimate-specifically-section .ultimate-specifically-image:before { width: 115px; height: 85px; }
.ultimate-specifically-section .ultimate-specifically-image:after { width: 75px; height: 85px; }
.ultimate-specifically-section .ultimate-specifically-buttons { margin-top: 35px; }
.partnership-section { padding: 35px 0; }
.partnership-section .section-title { margin-bottom: 35px; }
.partnership-section .partnership-logos-list { margin: 0 -15px 20px; }
.partnership-section .partnership-logos-list > { padding: 0 15px; }
.unlock-football-section { padding: 50px 0; }
.unlock-football-section:before { width: 95px; height: 42px; }
.unlock-football-section:after { width: 60px; height: 68px; }
.unlock-football-section .unlock-football-image { margin-bottom: 35px; }
.let-game-begin-section .section-title { margin-bottom: 50px; }
.let-game-begin-section:before { right: auto; left: -50px; bottom: -130px; width: 184px; height: 206px; }
.let-game-begin-section { padding: 35px 0; }
.let-game-begin-section .let-game-begin-description { max-width: 450px; margin-left: auto; margin-right: auto; }
.let-game-begin-list .let-game-begin-block:nth-child(1) .let-game-begin-image { width: 125px; }
.let-game-begin-list .let-game-begin-block:nth-child(2) .let-game-begin-image { width: 175px; }
.let-game-begin-list .let-game-begin-block:nth-child(3) .let-game-begin-image { width: 75px; }
/* home page */

/* footer */
.footer:before { display: none; }
.footer .f-top { padding: 30px 0 10px; }
.footer .f-top .f-content { flex-direction: column; }
.f-logo { margin-bottom: 20px; }
.f-logo img { width: 32px; }
.f-logo-detail-block .f-detail { max-width: 100%; }
.footer .f-top .f-right > .row { margin: 0 -15px; }
.footer .f-top .f-right > .row > * { padding: 0 15px; }
.f-block .f-title { margin-bottom: 15px; }
.f-block .f-detail { font-size: 14px; }
.footer .f-bottom { padding: 15px 0; }
.footer .f-bottom ul li { font-size: 12px; }
/* footer */
.best-experience-slider .slick-track
{
    display: flex !important;
}

.best-experience-slider .slick-slide
{
    height: inherit !important;
}

/* about pg */
.about-banner::before { width: 163px; height: 162px;top: 64%; }
.globe-wrp .globe-main { padding: 32px 12px;  margin: -195px 10px 0 10px; }
.globe-left { margin: 70px 0px 0 0; text-align: left; }
.experience-wrp { padding: 54px 0 14px 0; }
.experience-title .experience-image { padding: 4px 0 34px 0; }
.experience-bottom { margin: 0; }
.globe-left .block-title { font-size: 24px; line-height: 32px; }
.main-title { font-size: 30px; line-height: 40px; }
.about-banner {padding: 151px 0 242px; }
.experience-block { padding: 20px; }
.experience-bottom .row { align-items: unset !important; justify-content: center;}
.experience-block {height: calc(100% - 30px);margin-bottom: 30px;}
.globe-right::after { width: 116px; height: 84px; bottom: -40px; background-size: contain; }
.globe-right {padding: 0;}
.experience-title .block-title { font-size: 24px; line-height: 32px;font-size: 24px;line-height: 32px;max-width: 282px;width: 100%;margin: 0 auto;margin-bottom: 16px;} 
/* about pg */

/* partner pg */
.partner-f-review .partner-hand { transform: translate(30px , 0); -webkit-transform: translate(30px , 0); -moz-transform: translate(30px , 0); -ms-transform: translate(30px , 0); -o-transform: translate(30px , 0); }
.partner-banner-image::before { width: 223px; height: 162px; bottom: 40px; left: -100px; }
.proud-partner-wrp { padding: 70px 0;}
.p-review-right { padding: 55px 40px 55px 40px; margin: 50px 20px 0 20px; }
.partner-f-right::before { left: -37px; width: 102px; height: 51px; }
.p-review-right::before { width: 102px; height: 51px; top: -28px; left: -37px; }
.partner-f-left { margin: 0 20px; }
.partner-f-right { padding: 55px 40px 55px 40px; margin: 50px 20px 0 20px; }
.p-foundation-wrp { padding: 70px 0 65px 0; }
.proud-partner-wrp::before { width: 58px; height: 108px; left: -20px; top: 16px; }
.partner-title .image { padding: 0px 0 30px 0; }
.p-review-right .small-block-title { line-height: 30px; padding: 0; font-size: 20px; }
.partner-f-right::after { right: -30px; }
.partner-banner-image img { height: 806px;object-position: bottom; }
.partner-review-main .p-review-left { margin: 0 20px; }
.partner-f-review .row {flex-direction: column-reverse;}
.p-review-right::after {right: -30px;}
.p-foundation-title .image { padding: 0 0 28px 0; }
.partner-f-review .partner-hand { width: 200px; top: -80px; }
.partner-f-right .small-block-title { font-family: 'NunitoRegular'; font-size: 19px; line-height: 33px; }
.partner-banner-image .desktop-back { display: none; }
.partner-banner-image .mobile-back { display: block; }
.partner-banner-content { top: 38%; }
.partner-banner-inner .main-title { font-size: 36px; line-height: 44px; }
/* partner pg */

/* typography */
.typography-section { padding: 186px 0 54px 0; }
.typography-block .text-line { padding-bottom: 48px; }
.btn-secondary,
.btn-primary {padding: 10px 57px;}
h1 { font-size: 36px; line-height: 40px; }
h2 { font-size: 24px; font-weight: 900; line-height: 30px; }
h3 { font-size: 20px; line-height: 26px; }
h4 { font-size: 18px; line-height: 24px; }
h5 { font-size: 16px; line-height: 24px; }
h6 { font-size: 14px; line-height: 20px; }
.typography-section .accordion-button { padding: 20px 20px 20px 20px; }
.typography-section .accordion-body {padding: 20px;}
.typography-section ul { padding-left: 20px; }
.typography-section ol li, .typography-section ul li { line-height: 26px; }
.typography-section .accordion-button { padding: 16px 46px 16px 16px; font-size: 16px; line-height: 22px; }
.typography-section .accordion-button::after {right: -24px;}
.typography-section ol li {display: flex;}
/* typography */

.banner-section.about-banner.contact-banner{padding: 100px 0 60px;}
.banner-section.about-banner.contact-banner .main-title h1 br{display: none;}
.contact-lstwrp{padding: 30px;}
.contact-lstwrp ul{flex-wrap: wrap;margin: 0 auto 15px;}
.contact-lstwrp ul li{width: 100%;padding: 0 0 30px;}
}

/*---------- Small Mobile , IPhone Start ----------*/

/*=== Screen Size = 240, 320, 360, 480, 568 ===*/
@media (min-width: 576px) and (max-width: 767px){
}

@media (min-width: 240px) and (max-width: 575px){
/* header */
.navbar .navbar-brand { width: 24px; }
.navbar .navbar-collapse { height: calc(100% - 92px); }
/* header */

/* home page */
.banner-section .matchday-title { margin-bottom: 10px; }
.banner-section .block-title { font-size: 15px; line-height: 24px; letter-spacing: 0.773px; }
.welcome-matchday-section .section-title { max-width: 260px; width: 100%; margin-left: auto; margin-right: auto; }
/* .welcome-matchday-section { padding: 35px 0; } */
.welcome-matchday-section { padding: 35px 0 0; }
/* .welcome-matchday-section .welcome-matchday-image { margin-top: 15px; } */
.best-experience-section .section-title { font-size: 24px; line-height: 33px; max-width: 260px; width: 100%; margin-left: auto; margin-right: auto; }
.best-experience-block .block-title { font-size: 18px; line-height: 25px; }
.best-experience-block .experience-detail .detail { font-size: 14px; line-height: 20px; }
.holistic-football-section .section-title { font-size: 24px; line-height: 33px; max-width: 260px; width: 100%; margin-left: auto; margin-right: auto; }
.holistic-video-block { height: 200px; }
.influential-ambassadors-section .section-title { font-size: 24px; line-height: 33px; }
.influential-ambassadors-block { margin-bottom: 25px; height: calc(100% - 45px); }
.ultimate-specifically-section .section-title { font-size: 24px; line-height: 33px; max-width: 290px; width: 100%; margin-left: auto; margin-right: auto; }
.ultimate-specifically-section .ultimate-specifically-image { max-width: 265px; }
.ultimate-specifically-section .ultimate-specifically-image:before { width: 56px; height: 40px; margin-left: -15px; top: 0; }
.ultimate-specifically-section .ultimate-specifically-image:after { width: 40px; height: 48px; margin-right: -15px; bottom: 0; }
.ultimate-specifically-section .ultimate-specifically-buttons { margin-top: 35px; }
.partnership-section { padding: 80px 0; }
.partnership-section .section-title { margin-bottom: 50px; }
.partnership-section .partnership-logos-list { margin-bottom: 30px; }
.unlock-football-section { padding: 80px 0; }
.unlock-football-section .section-title { font-size: 24px; line-height: 33px; }
.unlock-football-section:before { height: 45px; }
.unlock-football-section:after { height: 40px; }
.let-game-begin-section { padding: 80px 0; }
.let-game-begin-section .let-game-begin-description { max-width: 275px; margin-left: auto; margin-right: auto; }
.let-game-begin-list .let-game-begin-block:nth-child(1) .let-game-begin-image { width: 65px; }
.let-game-begin-list .let-game-begin-block:nth-child(2) .let-game-begin-image { width: 90px; }
.let-game-begin-list .let-game-begin-block:nth-child(3) .let-game-begin-image { width: 45px; }
/* home page */

/* footer */
.f-logo-detail-block .f-detail { max-width: 275px; }
/* footer */

/*  */
.proud-partner-wrp { padding: 80px 0; }
.p-review-right::before { width: 82px; height: 41px; top: -28px; left: 0px; }
.p-review-right { padding: 24px; margin: 40px 0 40px 0; }
.p-foundation-wrp::after { z-index: 0; }
.partner-f-review .partner-hand { width: 140px; top: -10px; }
.partner-f-right { padding: 30px; margin: 50px 0 50px 0; }
.partner-f-right::before { width: 82px; height: 41px; top: -28px; left: 0; }
.partner-f-right::after,
.p-review-right::after { right: 0px; width: 74px; height: 38px; }
.p-foundation-wrp { padding: 80px 0 55px 0; }
.p-bottom-detail {padding-top: 64px;}
.partner-review-main .p-review-left { margin: 0; }
.partner-f-left { margin: 0; }
.partner-banner-image img {object-position: top;}
.proud-partner-wrp::before { width: 58px; height: 108px; left: -10px; top: 36px; }
.partner-review-main .row {flex-direction: column-reverse;}
.p-review-right .detail p { font-size: 16px; line-height: 22px; }
.partner-title .section-title { font-size: 24px; line-height: 30px; }
.partner-f-review .row { flex-direction: column; }
.partner-f-right .small-block-title { font-family: 'NunitoRegular'; font-size: 20px; line-height: 32px; }
.partner-f-right .small-block-title p:last-child { font-size: 16px; line-height: 30px;padding-top: 24px; }

.btn-primary { margin-right: 0; margin-bottom: 24px;margin-top: 25px; }
.btn-secondary, .btn-primary { width: 100%; }
}

@media (max-width: 374px){
/* header */
.navbar { padding: 30px 0; }
.navbar .navbar-collapse { padding: 35px 15px; }
/* header */

/* home page */
.banner-section .banner-description { padding: 25px 0; }
.ultimate-specifically-section { padding: 35px 0; }
.ultimate-specifically-section .ultimate-specifically-image { margin-bottom: 25px; }
.best-experience-section { padding: 35px 0; }
.holistic-football-section { padding: 50px 0 35px; }
.partnership-section { padding: 35px 0; }
.partnership-section .section-title { margin-bottom: 35px; }
.partnership-section .partnership-logos-list { margin-bottom: 20px; }
.let-game-begin-section { padding: 35px 0; }
.unlock-football-section { padding: 50px 0; }
/* home page */

/* footer */
.f-logo-detail-block { text-align: center; }
.f-block .f-title { text-align: center; }
.f-block .f-detail ul li { text-align: center; justify-content: center; }
.f-block .f-detail .common-social-icons-list ul { justify-content: center; }
.footer .f-top .f-right > .row > * { flex: 0 0 100%; max-width: 100%; }
/* footer */


}
/*---------- Large Desktop , Large Screen End ----------*/