<nav id="topnav" class="defaultscroll is-sticky">
    <div class="container relative">
        <a class="logo" href="index.html">
            <span class="inline-block dark:hidden">
                <img src="assets/images/logo-icon-color.png" class="l-dark" height="64" width="64" alt="">
                <img src="assets/images/logo-icon-white.png" class="l-light" height="64" width="64" alt="">
            </span>
            <img src="assets/images/logo.png" height="64" class="hidden dark:inline-block" alt="">
        </a>

        <div class="menu-extras">
            <div class="menu-item">
                <a class="navbar-toggle" id="isToggle" onclick="toggleMenu()">
                    <div class="lines">
                        <span></span>
                        <span></span>
                        <span></span>
                    </div>
                </a>
            </div>
        </div>

        <div id="navigation">
            <ul class="navigation-menu nav-light">
                <li><a href="/" title="Home" class="sub-menu-item">Home</a></li>
                <li><a href="/" title="Home" class="sub-menu-item">About</a></li>
                <li><a href="/" title="Home" class="sub-menu-item">Features</a></li>
                <li><a href="/" title="Home" class="sub-menu-item">Ambassadors</a></li>
                <li><a href="/" title="Home" class="sub-menu-item">Partnerships</a></li>
                <li><a href="contact-one.html" class="sub-menu-item">Contact</a></li>
            </ul>
        </div>
    </div>
</nav>