<meta charset="UTF-8">
<title>@@title - The all-in-one app for live football updates, stats, a trading game, and more!</title>
<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
<meta name="description" content="Enhance your football experience with Matchday PRO, the ultimate app for live updates, real-time stats, a thrilling trading game, and a whole lot more. Stay connected to your favorite teams, players, and matches like never before.">
<meta name="keywords" content="football app, live updates, real-time stats, trading game, team updates, player stats, match analysis, football trading, fantasy football, football scores, sports app">
<meta name="author" content="Matchday Pro">
<meta name="website" content="https://www.matchday.pro">
<meta name="email" content="support@matchday.pro">
<meta name="version" content="1.1.0">
<meta http-equiv="X-UA-Compatible" content="IE=edge">

<!-- favicon -->
<link rel="shortcut icon" href="assets/images/favicon.ico">